<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restless Readers!</title>
  <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <header class="columns is-vcentered py-4">
      <div class="column">
        <h1 class="title">
          <span role="img" aria-label="book">📚</span>
          <a href="/">Restless Readers!</a>
        </h1>
      </div>
      <div class="column has-text-right">
        <nav class="is-inline-block">
          {{#if logged_in}}
          <a href="/profile" class="button is-link is-light">Profile</a>
          <button class="button is-danger is-light" id="logout">Logout</button>
          {{else}}
          <a href="/login" class="button is-link is-light">Login</a>
          {{/if}}
        </nav>
      </div>
    </header>
    <main class="section">
      {{{ body }}}
    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>&copy; 2024 Restless Readers. All rights reserved.</p>
      </div>
    </footer>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>



