<div class="has-text-centered">
  <h2>{{name}}</h2>
  <p>Description:</p>
  <p>{{description}}</p>
  <p>Review:</p>
  <p>{{review}}</p>
  <p>Created by {{user.username}}</p>
  <br>
  </br>
  <p>
    <a href="/" class="button is-info">📘!Back to Book Review Forum!📘</a>
  </p>
  
</div>