<div class="columns">
  <div class="column is-narrow">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="columns mt-4">
  <div class="column is-half">
    <h3>Create a New Book Review:</h3>

    <form class="form new-book-form">
      <div class="field">
        <label class="label" for="book-name">Book Name:</label>
        <div class="control">
          <input class="input" type="text" id="book-name" name="book-name" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="book-desc">Description:</label>
        <div class="control">
          <textarea class="textarea" id="book-desc" name="book-desc"></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label" for="book-review">Review:</label>
        <div class="control">
          <textarea class="textarea" id="book-review" name="book-review"></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary">Create</button>
        </div>
      </div>
    </form>
  </div>

  <div class="column is-half book-list">
    {{#if books.length}}
    <h3>Current Book Reviews:</h3>

    {{#each books as |book|}}
    <div class="columns mb-2">
      <div class="column is-three-quarters">
        <h4><a href="/book/{{book.id}}">{{book.name}}</a></h4>
      </div>
      <div class="column">
        <button class="button is-small is-danger" data-id="{{book.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
    {{/if}}
  </div>
</div>
<script src = "/js/profile.js"></script>

